<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <% if (user) { %>
        <form method="POST" action="/logout" class="mr-2">
          <label for="email"></label>
          <p class="mb-0">Logged in as: <%= user.email %>!  
            <button type="submit" class = "btn btn-outline-dark">Logout</button>
          </p>
        </form>
      <% } else { %>
        <form method="GET" action="/login">
          <label for="email"></label>
          <button type="submit" class = "btn btn-outline-dark" href="/login">Login</button>
        </form>
        <form method="GET" action="/register" class="mr-2">
        <label for="register"></label>
        <button type="submit" class = "btn btn-outline-dark" href="/register">Register</button>
      </form>
      <% } %>
      
    </div>
  </nav>
</header>